.div-busca{
    display: flex;
    justify-content: center;
    text-align: center;
}
.busca{
    text-align: center;
    align-items: center;
}

input{
    text-align: center;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: brown;
}

.video{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 2%;
    display: flex;
    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.card-bootcamps{
    width: 300px;
    margin: 30px 30px 30px 120px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #03033d;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    align-items: center;
    text-align: center;
}
  
.card-bootcamps h3 {
    color: #2c0733;
}

.card-bootcamps p{
    font-weight: 100;
    color: #051a1b
}

.card-bootcamps img{
    border-radius: 20px;
    margin-bottom: 20px;
    max-width: 200px;
    max-height: 200px;
}