#page-landing {
    padding: 0rem;
	/* width: 100vw;
	height: 200vh; */
	background: linear-gradient(329.54deg, #195f64e0 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}

#page-landing .content-wrapper {
	position: relative;
	width: 100%;
	max-width: 1100px;
	height: 200%;
	max-height: 680px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-between;
	
    background: url('../../Assets/minhaFoto.png') no-repeat 80% center;
    background-size: 400px;
}

#page-landing .content-wrapper main {
	max-width: 350px;
	padding-top: 10px;
}

#page-landing .content-wrapper main h1 {
	font-size: 76px;
	font-weight: 900;
	line-height: 78px;
}

#page-landing .content-wrapper main p {
	margin-top: 40px;
	font-size: 24px;
	line-height: 34px;
}

.content-wrapper .location {
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	text-align: right;
}

.content-wrapper .location strong {
	font-weight: 800;
}

.content-wrapper .enter-app {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 80px;
	height: 80px;
	background: #66e8ff;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.2s;
}

.content-wrapper .enter-app:hover {
	background: #71acc3;
}
.btn-1{
	/* position: relative;
	display: flex; */
	padding: 10px;
	background:  #d87111fb;
    border-radius: 10px;
}
.btn-1:hover{
	padding: 10px;
	cursor: pointer;
	border-radius: 10px;
	background:#ca0c2b;
	transform: scale(1.1);
}

.btn-2{
	/* position: relative;
	display: flex; */
	padding: 10px;
	background:  #d811b7fb;
    border-radius: 10px;
}
.btn-2:hover{
	padding: 10px;
	cursor: pointer;
	border-radius: 10px;
	background:#0cca0c;
	transform: scale(1.1);
}

.btn-3{
	/* position: relative;
	display: flex; */
	padding: 10px;
	background:  #d82f11fb;
    border-radius: 10px;
}
.btn-3:hover{
	padding: 10px;
	cursor: pointer;
	border-radius: 10px;
	background:#97ca0cef;
	transform: scale(1.1);
}