#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: brown;
}

.card-perfis{
    width: 300px;
    margin: 30px 30px 30px 120px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #03033d;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    align-items: center;
    text-align: center;
}
  
.card-perfis h3 {
    color: #2c0733;
}

.card-perfis p{
    font-weight: 100;
    color: #051a1b
}

.card-perfis img{
    border-radius: 20px;
    margin-bottom: 20px;
    max-width: 200px;
    max-height: 200px;
}